/*
.first {
    color: aqua;
    font-size: 39px;
}
img {
    cursor: pointer;
}
.anim {
    width: 200px;
    height: 200px;
    background: goldenrod;
    border-radius: 50%;
    margin: 0 auto;
}
.vv {
    display: none;
}
*/
/*
 // lesson 2 menu-nav
#nav {
    list-style: none;
}
.menu-item {
    position: relative;
    display: inline-block;
    margin-right: 140px;
    cursor: pointer;
}

.menu-item .submenu {
    display: none;
    padding: 0;
    position: absolute;
    top: 100%;
    left: -100%;
    text-align: center;
    width: 120px;
    background-color: greenyellow;
    list-style: none;
}
*/


/* Lesson 5 Tabs

#tabs .tab {
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

#tabs .blackborder {
    border: 3px solid #707070;
    border-bottom: 3px solid #fff;
    border-radius: 3px 3px 0 0;
}

#tabs .tabContent {
    width: 300px;
    height: 100px;
    border: 1px solid #707070;
    border-radius: 0 0 3px 3px;
    position: relative;
    top: -1px;
    z-index: 1;
    padding: 10px;
}

#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
}
*/
/* lesson 6 Modal Window

#myModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0, .7);
}

#myModal .modal-content {
    width: 80%;
    padding: 20px;
    margin: 15% auto;
    border: 1px solid red;
    background-color: goldenrod;
    color: antiquewhite;
}

#myModal .close {
    display: inline-block;
    padding: 5px 11px;
    color: #000;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
    float: right;
    border-radius: 50%;
    background-color: transparent;
    transition: all .5s linear;
    cursor: pointer;
}
#myModal .close:hover {
    background-color: greenyellow;
}
*/













